*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family:'lobster', serif;
}
.hey{
    display: flex;
    padding-top: 10%;
    margin-left: 10%;
}
.text{
    padding-left: 10%;
}
.menu h3{
    padding-top: 10%;
    text-align: center;
    font-family: 'lobster', serif;
}
.image p{
    padding-left: 38%;
}
.image h4{
    padding-left: 28%;
}
.row1{
    display: flex;
    justify-content: center;
    align-content: center; 
    padding-top: 4%;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
.row2{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 4%;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
.order{
    text-align: center;
    margin-left: 35%;
}
.number{
    padding-top: 11%;
    padding-left: 5%;
}
.contact{
  padding-top: 8%;
}
.contact h3{
    text-align: center;
}
.con{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5%;
}
.footer{
    padding-top: 3%;
    text-align: center;
}
.second{
    margin-bottom: 28%;
    margin-right: 13%;
}
.third{
    margin-bottom: 28%;
    margin-left: 30%;
}

